@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
  width: 340px;
  height: 350px;
}

.header {
  height: 150px;
  color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  border-radius: 5px;
  margin-bottom: 20px;
}

.centered-btn{
  margin-left: 37%;
}

.down{
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;;
  font-size:40px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}